PORT=3000
CORS_ORIGIN=http://localhost:5173
OIDC_ISSUER=https://auth.cockpit.arnhem.dev/realms/vernietigingscockpit
OIDC_AUDIENCE=cockpit-api
DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@db.cockpit.arnhem.dev:5432/<DB_NAME>?schema=public
GOTENBERG_URL=http://localhost:3003
GOTENBERG_USERNAME=
GOTENBERG_PASSWORD=
